---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
---

<Layout title="francisko.dev">
  <Header />
  <main class="mx-auto max-w-[1176px] bg-sand1 px-2">
    <Hero />
  </main>
</Layout>
