---
import { navItems } from "../data/navItems"
import brand from "../images/brand.svg"
import NavItem from "./NavItem.astro"
---

<div class="bg-sand1 shadow-md">
  <header
    class="mx-auto flex w-full max-w-[1176px] flex-wrap items-center justify-between gap-10 bg-transparent px-2 py-4 text-amber12 headerBreak:justify-center"
  >
    <img src={brand} alt="Francisko" width={252} height={40} />
    <nav>
      <ul class="flex flex-wrap justify-center gap-8">
        {
          navItems.map(({ href, label }) => (
            <NavItem href={href} label={label} />
          ))
        }
      </ul>
    </nav>
  </header>
</div>
