---
import { navItems } from "../data/navItems";
import brand from "../images/brand.svg";
import NavItem from "./NavItem.astro";
---

<div class="bg-sand1 shadow-sm">
  <header
    class="flex text-amber12 justify-between max-w-[1176px] mx-auto w-full px-2 py-4 flex-wrap items-center gap-10 headerBreak:justify-center"
  >
    <img src={brand} alt="Francisko" width={252} height={40} />
    <nav>
      <ul class="flex gap-8 flex-wrap justify-center">
        {
          navItems.map(({ href, label }) => (
            <NavItem href={href} label={label} />
          ))
        }
      </ul>
    </nav>
  </header>
</div>
