---
interface Props {
  href: string
  label: string
}

const { href, label } = Astro.props
---

<li>
  <a href={href} class="text-lg capitalize transition-colors hover:text-amber11"
    >{label}</a
  >
</li>
