---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  } */

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* fira-code-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/fira-code-v21-latin-600.woff2") format("woff2");
  }

  /* arimo-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/arimo-v27-latin-regular.woff2") format("woff2");
  }

  /* arimo-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/arimo-v27-latin-600.woff2") format("woff2");
  }
</style>
